{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> KPI DATA </h1>
{% endblock %}

{% block result_list %}

    <div class="kpi-container">
    <div class="circle-container">

        <div class="data-container">
          <span class="circle-title">

                Contenziosi In Trattativa


          </span>
          <div class="circle">
            <span> {{ type_4_stat.number }} </span>
          </div>
        </div>

        <div class="data-container">
          <span class="circle-title">

                Contenziosi Aperti


          </span>
          <div class="circle">
            <span>{{ type_3_stat.number }}</span>
          </div>
        </div>

        <div class="data-container">
          <span class="circle-title">

             Contenziosi Definiti


          </span>
          <div class="circle">
            <span>{{ type_2_stat.number }}</span>
          </div>
        </div>

        <div class="data-container">
          <span class="circle-title">

                Contenziosi In Gestione


          </span>
          <div class="circle">
            <span>{{ type_1_stat.number }}</span>
          </div>
        </div>


    </div>


    <div class="tabular-container">
       <div class="table-side">


            <div class="table-row">
              <span class="row-title">Valore Obiettivo<br>Espropri In Trattativa</span>
              <span class="row-value"> {{ type_4_stat.objective_value }}</span>
            </div>







            <div class="table-row">

              <span class="row-title">Initial Total Value<br>Espropri In Gestione </span>
              <span class="row-value">{{ type_1_stat.initial_value }}</span>
            </div>
            <div class="table-row">
              <span class="row-title">Valore Obiettivo Totale<br>Espropri In Gestione</span>
              <span class="row-value">{{ type_1_stat.objective_value }}</span>
            </div>


       </div>

      <div class="table-side">
        <div class="table-row">






          <span class="row-title">Percentuale Di<br>Inceremento Media</span>
          <span class="row-value"><span class="sign"> + </span>{{ type_2_stat.moltiplicatore }}  <span class="sign"> % </span></span>




        </div>
        <div class="table-row">
          <span class="row-title">EbitDa</span>
          <span class="row-value"><span class="sign"> + </span>35.5 <span class="sign"> %* </span></span>
        </div>
      </div>
    </div>
   <div class="bottom-title">
     <span class="month-title"> <span class="month-value">15 mesi</span>Tempo medio chiusura contenzioso</span>
   </div>
  </div>

{% endblock %}

{% block pagination %}{% endblock %}