{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Registration form</title>
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">#}


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link href="{% static 'clients/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_admin.css' %}"/>
</head>
<body>
    {% block body %}

    {% endblock %}

<script src="{% static 'clients/scripts.js' %}"></script>
</body>
</html>